* {
    background-color: #F0F8FF;
    /*hex color */
}
section {
    position: relative; 
    display: block;
    width: 100%;
    margin: 0 auto;
    top: 130px; 
    border: 2px solid #FFFFFF; 
}

.circlex {
    width: 150px;
    height: 150px; 
    border-radius: 50%; 
    display: block; 
    margin: 0 auto; 
    border: 2px solid #000000;
}

.name {
    text-align: center; 
    font-size: 50px;
    color: #666666;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hypertext {
    padding-top: 30px;
    width: 25%;
    margin: 0 auto; 
}

a {
    padding: 5px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 7.5px;
    color: #FFFFFF;
    display: block;
    text-align: center;
}

.ins {
    background-color: #8134af;
}
.ins:hover {
    background-color: #000000;
    position: relative;
    bottom: 1px;
}

.fac {
    background-color: #3b5998;
}
.fac:hover {
    background-color: #000000;
    position: relative;
    bottom: 1px;
}

.tel {
    background-color: #229ED9;
}
.tel:hover
{
    background-color: #000000;
    position: relative;
    bottom: 1px; 
}

.twi {
    background-color: #00ACEE;
}
.twi:hover
{
    background-color: #000000;
    position: relative;
    bottom: 1px; 
}